#!/usr/bin/env bash

# Directory paremeters
TMP="/dev/shm/${USER}/tmp/"  # Temporary file storage for HARP, which writes a lot of small files
ORIG_DIR=$(pwd)

# Chromosomes being iterated over for each individual
CHROMOSOMES=( 2L 2R 3L 3R X )

# Number of generations for recombinant individuals
N_GENERATIONS="5"  # e.g. F5 population

# Reference Genome: Drosophila melanogaster release 5, version 57
REFGENOME_URL="ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r5.57_FB2014_03/fasta/dmel-all-chromosome-r5.57.fasta.gz"
REFGENOME="dmel-all-chromosome-r5.57.fasta"
REFGENOME_GZIP_MD5="f6e168a1fe8741be2fdce6c2d0602b41"
REFGENOME_MD5="203ef91d30c76497cd1391a0d2f92827"

# VCF_URL="http://dgrp2.gnets.ncsu.edu/data/website/dgrp2.vcf" # gzipped version from zenodo faster to download (equivalent md5 sum)
VCF_URL="https://zenodo.org/api/files/eef9cec5-1bf4-498e-8ac6-e90aa8c8ab1c/dgrp2.vcf.gz"
VCF_MD5="af831816f41fe4a779e9abb44c5cdc62"
VCF_BGZIP_MD5="f4d8551dacf10b6e790d53deeed1f02a"
VCF_GZIP_MD5="a9ece6b8c4c6b8aaf6797874eaddb369"

# Repetitive Masking Files
REP_MASK_1="http://hgdownload.soe.ucsc.edu/goldenPath/dm3/bigZips/chromOut.tar.gz"
REP_MASK_2="http://hgdownload.soe.ucsc.edu/goldenPath/dm3/bigZips/chromTrf.tar.gz"

# Re-hosted DGRP recombination map, from The Many Landscapes of Recombination in Drosophila melanogaster, Comeron et al. 2012
RECOMBINATION_MAP_URL="https://onedrive.live.com/download?cid=77DD71E598E5B51B&resid=77DD71E598E5B51B%2118790&authkey=AGfjnHFJK6dsNBk"
RECOMBINATION_MAP_FILENAME="dgrp2.recombination_map.bed"

# RABBIT Parameters
RABBIT_MAX_FOUNDERS="16"
RABBIT_MAX_SITES="5000"

# SHOULD NOT NEED TO EDIT PARAMETERS BELOW
java8="/usr/lib/jvm/java-8-openjdk-amd64/bin/java"  # utils.sif path to java version 8
java11="/usr/lib/jvm/java-11-openjdk-amd64/bin/java" # Equivalent to `java`
UTILS_SIF="$(pwd)/../utils.sif"
HARP_SIF="$(pwd)/../harp.sif"

