sandbox_*
Test_Run/tmp/*
Test_Run/*.bam
*.sif
Test_Run/*.csv
Test_Run/*.fastq*
Test_Run/*.fasta*
Test_Run/*.dict*
Test_Run/*.bam*
Test_Run/*.bai*
Test_Run/*.vcf*
Test_Run/*.zip
Test_Run/*.intervals
Test_Run/*.txt
Test_Run/*.list
Test_Run/*.freqs
Test_Run/*.mla
Test_Run/*.readcounts
Test_Run/*.bed
Test_Run/*.in
Test_Run/*.m
Test_Run/*.haplotypes
Test_Run/*.genotypes
Test_Run/*.haplotypes.gz
Test_Run/nohup.out
Test_Run/comparison/*
Test_Run/*.tar.gz
Test_Run/siteFreqs.tab
